{{ define "desc"}}
{{ template "header" }}
{{ if . }}
{{ range . }}
<section class="ndetail my-5 pt-5">
    <div class=" nd row mt-5">
        <div class=" nd col-lg-5 col-md-12 col-12">
            <img class="as" src="static/css/Vector.png" alt="">
        </div>
        <div class="ndet col-lg-6 col-md-12 col-12">
            <h3 class="py-4">{{.Product_name}}</h3>
            <h2 id="pricetg">{{.Price}} tg</h2>
            <p>{{.Rating}}</p>
            <button onclick ="showEuro()" class="buy-btn">Count Euro</button>
            <button onclick ="showDollar()" class="buy-btn">Count Dollar</button>
            <button onclick ="showRuble()" class="buy-btn">Count Ruble</button>
            <h4 class="py-4" style="color: rgb(141, 131, 131);">About Product</h4>
            <span>{{.Description}}</span> <br></br>
            <form action="/comment">
                <textarea cols="80" rows="2" placeholder="Comments here!"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

<footer>
    <div style="width: 15%;">
        <h6 style="margin-left: 7%;">MENU</h6>
        <a href="">FIND A STORE </a>
        <a href="">BECOME A MEMBER </a>
        <a href="">SIGN UP FOR EMAIL</a>
        <a href="">STUDENT DISCOUNTS</a>
        <a href="">SEND US FEEDBACK </a>
    </div>
    <div style="width: 15%;">
        <h6 style="margin-left: 7%;">HELPDESK</h6>
        <a href="">ORDER STATUS </a>
        <a href="">DELIVERY </a>
        <a href="">RETURNS </a>
        <a href="">PAYMENT OPTIONS</a>
        <a href="">CONTACT US </a>
    </div>
    <div style="width: 15%;">
        <h6 style="margin-left: 7%;">ABOUT NIKE</h6>
        <a href="">NEWS </a>
        <a href="">CAREERS </a>
        <a href="">INVESTORS </a>
        <a href="">SUSTAINABILITY</a>
    </div>
    <div style="width: 35%;"></div>
    <div style="width: 20%; float: right; text-align: right;">
        <h6 style="margin: 7% 0% 10% 0%;">PRIMARY ADDRESS</h6>
        <p>One Bowerman Drive</p>
        <p>Beaverton, OR 97005-6453</p>
        <p>USA</p>
        <div style="margin: 10% 0% 10% 0%;">
            <img src="static/css/eva_email-fill.png" alt="">
            <img src="static/css/eva_facebook-fill.png" alt="">
            <img src="static/css/eva_twitter-fill.png" alt="">
        </div>
        <p>© 2022 Nike, Inc. All Rights Reserved</p>
    </div>
</footer>
<script>
   function showEuro(){
        document.getElementById("pricetg").innerHTML={{.Price}}/494+'E';
    }
    function showDollar(){
        document.getElementById("pricetg").innerHTML='$'+{{.Price}}/437.;
    }
    function showRuble(){
        document.getElementById("pricetg").innerHTML={{.Price}}/6+'R';
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>
{{ end }}
{{ end }}
{{ end }}