{{ define "login" }}
<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="hero">
    <p>Just do it with <strong>Nike</strong></p>
    <h2>Sign in to your account</h2>
    <form action="/save_log" method="post">
        <div class="form-box">
            <div class="card-box">
                <input type="email" name="email" id="email" placeholder="Email address">
            </div>
            <div class="card-box">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="button">
                <input type="submit" value="Log in">
            </div>
        </div>
    </form>
</div>
<br><br>
<br><br>
{{ if . }}
<h3>
    {{.}}
</h3>
{{end}}
</body>
</html>
{{ end }}