{{ define "products" }}
{{ template "header" }}
{{ if . }}
<div class="row">
       {{ range . }}
    <div class="column">
        <div class="card">
            <img class="as" src="static/css/{{.Photo}}" alt="">
            <h3><a style="color: black;" href="/desc/{{.Product_id}}">{{.Product_name}}</a></h3>
            <p>{{.Size}}</p>
            <h3>{{.Price}} tg</h3>
            <p>{{.Rating}}</p>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

<footer>
    <div style="width: 15%;">
        <h6 style="margin-left: 7%;">MENU</h6>
        <a href="">FIND A STORE </a>
        <a href="">BECOME A MEMBER </a>
        <a href="">SIGN UP FOR EMAIL</a>
        <a href="">STUDENT DISCOUNTS</a>
        <a href="">SEND US FEEDBACK </a>
    </div>
    <div style="width: 15%;">
        <h6 style="margin-left: 7%;">HELPDESK</h6>
        <a href="">ORDER STATUS </a>
        <a href="">DELIVERY </a>
        <a href="">RETURNS </a>
        <a href="">PAYMENT OPTIONS</a>
        <a href="">CONTACT US </a>
    </div>
    <div style="width: 15%;">
        <h6 style="margin-left: 7%;">ABOUT NIKE</h6>
        <a href="">NEWS </a>
        <a href="">CAREERS </a>
        <a href="">INVESTORS </a>
        <a href="">SUSTAINABILITY</a>
    </div>
    <div style="width: 35%;"></div>
    <div style="width: 20%; float: right; text-align: right;">
        <h6 style="margin: 7% 0% 10% 0%;">PRIMARY ADDRESS</h6>
        <p>One Bowerman Drive</p>
        <p>Beaverton, OR 97005-6453</p>
        <p>USA</p>
        <div style="margin: 10% 0% 10% 0%;">
            <img src="static/css/eva_email-fill.png" alt="">
            <img src="static/css/eva_facebook-fill.png" alt="">
            <img src="static/css/eva_twitter-fill.png" alt="">
        </div>
        <p>© 2022 Nike, Inc. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>
{{ end }}