{{ define "register" }}
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="hero">
    <p>Just do it with <strong>Nike</strong></p>
    <h2>Quickly create account</h2>
    <form action="/save_reg" method="post">
    <div class="form-box">
        <div class="card-box">
            <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="card-box">
            <input type="text" name="surname" id="surname" placeholder="Surname">
        </div>
        <div class="card-box">
            <input type="email" name="email" id="email" placeholder="Email address">
        </div>
        <div class="card-box">
            <input type="text" name="phone" id="phone" placeholder="Phone number">
        </div>
        <div class="card-box">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="button">
            <input type="submit" value="Sign up">
        </div>
    </div>
    </form>
</div>
<br><br>
<br><br>
{{ if . }}
<h3>
    {{.}}
</h3>
{{end}}
</body>
</html>
{{ end }}